<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/main.css">
    <title>Landing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap" rel="stylesheet"></head>
<body class="body landing">
    <!-- HEADER ORGANISM-->
    <header class="header landing__header justify--center">
        <figure class="logo__figure">
            <img class="quaver-img__header" src="../../img/music-solid.svg" alt="quaver image">
        </figure>
        <div class="info__header">
            <h1 class="info__tag landing__text">My Music App</h1>
        </div>
    </header>
    <main class="main-section__landing">
        <!-- make a login button section -->
        <figure class="spotify__figure">
            <img class="spotify-img__header" src="../../img/spotify-brands.svg" alt="logo spotify">
        </figure>
        <a class="join__btn" href="home.html">
            <p class="join__txt">
                Join
            </p>
        </a>
    </main>
</body>
</html>