* {
  font-family: "Poppins", sans-serif;
  scrollbar-width: auto;
  scrollbar-color: #36386b #ffffff;
  /* Chrome, Edge, and Safari */
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: #000;
}
*::-webkit-scrollbar-thumb {
  background-color: #36386b;
  border-radius: 10px;
  border: 3px solid #000;
}

.body {
  box-sizing: border-box;
  background-color: #36386B;
  min-width: 300px;
  min-height: 100vh;
  margin: 0;
  background-image: linear-gradient(163.28deg, #121527 33.34%, #36386B 96.08%);
}

.header {
  background-color: #36386B;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 70px;
  color: #fff;
}

.logo__figure {
  width: 40px;
  height: 40px;
  margin: 0;
}
.logo__figure :hover {
  fill: #18d860;
  transition: 0.1s;
}

.header__url {
  width: 0 0;
}

.main__home {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main__home .logo__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.other-pages__home {
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  align-items: center;
  gap: 20px;
}
.other-pages__home .other-pages__figure {
  width: 25px;
  height: 25px;
  margin: 0;
}

.spotify-img__header {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__tag {
  margin: 0;
}

.home__text {
  font-size: 22px;
}

.username__text {
  font-style: normal;
  font-weight: 300;
}

.other-pages__figure:hover, .logo__figure:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.main-section__home {
  display: flex;
  flex-direction: column;
  padding: 20px 17px;
}

.playlist__name {
  margin: 0px 0px 30px 0px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 600px) {
  .playlist__name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}

.songs-list__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 600px) {
  .songs-list__section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.song-list__item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1333333333);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 10px 12px;
  border-radius: 10px;
  max-width: 200px;
}
@media (min-width: 600px) {
  .song-list__item {
    flex-direction: column;
  }
  .song-list__item:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.05);
    position: relative;
    z-index: 2;
  }
  .song-list__item:hover .svg__path {
    fill: #000;
    transition: fill 0.2s ease-in-out;
  }
  .song-list__item:hover .song__img {
    transition: 0.5s;
    transform: scale(1.2, 1.2);
  }
}
.song-list__item__component {
  display: flex;
  align-items: center;
  color: #fff;
}
.song-list__item__component .song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}
@media (min-width: 600px) {
  .song-list__item__component {
    flex-direction: column;
    align-items: flex-start;
  }
}
.song-list__item .song__figure {
  width: 60px;
  height: 60px;
  margin: 0 10px 0 0;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 600px) {
  .song-list__item .song__figure {
    width: 100%;
    height: auto;
    margin: 0;
  }
}
.song-list__item .song__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.song-list__item .song__name {
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
}
@media (min-width: 600px) {
  .song-list__item .song__name {
    width: 100%;
    text-align: center;
  }
}
.song-list__item .song__info {
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .song-list__item .song__info {
    width: 100%;
  }
}
.song-list__item .additional-info {
  display: flex;
  gap: 10px;
  font-weight: 300;
}
@media (min-width: 600px) {
  .song-list__item .additional-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
  }
}
.song-list__item .additional__detail {
  margin: 0px;
  font-size: 15px;
}
@media (min-width: 600px) {
  .song-list__item .song__info-separator {
    display: none;
  }
}
.song-list__item .fav-action__figure {
  width: 25px;
  height: 25px;
  margin: 0;
}
@media (min-width: 600px) {
  .song-list__item .fav-action__figure {
    position: absolute;
    right: 12px;
    bottom: 20px;
  }
}
.song-list__item .fav-action__img {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: fill 0.2s ease-in-out;
}
.song-list__item .svg__path {
  fill: #181a22;
}
.song-list__item .svg__path:hover {
  transition: 0.2s;
  fill: #ffd20b;
}

.landing {
  background: linear-gradient(150.99deg, #000000 50.62%, #521980 92.09%);
}

.landing__header {
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #000;
}

.quaver-img__header {
  width: 35px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__tag.landing__text {
  font-size: 25px;
  font-weight: 700;
}

.main-section__landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.spotify__figure {
  width: 123px;
  height: auto;
}

.join__btn {
  text-decoration: none;
  width: 250px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: linear-gradient(100.32deg, #0F7828 51.9%, #8FF809 116.45%);
  transition: 0.5s;
}
.join__btn:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.join__btn .join__txt {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #000;
}

@media (min-width: 600px) {
  .song-list__item.favorite:hover .svg__path {
    fill: #ac0606;
  }
}
.song-list__item.favorite .svg__path {
  fill: #ffd20b;
}
.song-list__item.favorite .svg__path:hover {
  fill: #181a22;
}/*# sourceMappingURL=main.css.map */