$header-color: #36386B;
$header-font-color: #fff;

.header {
    background-color: $header-color;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 70px;
    color: $header-font-color;
}