$desktop: 600px;

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.songs-list__section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include desktop() {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        // display: flex;
        // flex-wrap: wrap;
        // flex-direction: row;
        // justify-content: center;
    }
}

.main-section__home {
    display: flex;
    flex-direction: column;
    padding: 20px 17px;
}